.e-main-content {
    margin-top: 100px;
    margin-left: 230px;

    @media screen and (max-width: 780px) {
        margin-left: 0;

    }

    .e-main-content-flex {
        width: 100%;
        height: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;

        .item {
            display: flex;
            flex-direction: column;
            padding: 15px 20px;
            background: white;

            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        .item:first-child {
            margin-bottom: 20px;
            align-self: center;
            align-items: center;
            justify-content: center;
            border-bottom: 3px solid green;
            height: 150px;

            .header {
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .body {
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
                font-size: 1.25rem;
                color: grey;
            }
        }

        .item:last-child {
            padding: 10px 20px 50px 20px;

            .sub:first-child {
                margin-bottom: 50px;

                font-size: 1.5rem;
                font-weight: 600;
            }

            .sub:last-child {
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
                font-size: 1.25rem;
                color: grey;

                @media screen and (max-width: 780px) {
                    flex-direction: column;
                    gap: 20px;

                }

                .grand-ch {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;

                    &:not(:last-child) {
                        @media screen and (max-width: 780px) {
                            padding-bottom: 10px;
                            border-bottom: 1px solid grey;

                        }
                    }

                    .first {
                        font-size: 1.875rem;
                        color: black;
                    }

                    .second {
                        font-size: 1.25rem;
                        color: grey;
                    }
                }

                .grand-ch:first-child {


                    .second {
                        color: green;
                    }
                }

                .grand-ch:nth-child(2) {
                    .second {
                        color: red;
                    }
                }

                .grand-ch:last-child {
                    .second {
                        color: green;
                    }
                }
            }
        }
    }
}
