    .content-wrapper {
        #payslip-body {
            margin: 20px;
            background-color: white;

            .payslip-header {
                padding: 20px;

                .p-h-flex {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 2px solid black;
                    padding: 10px 0;

                    .payslip-header-left {
                        width: 30%;
                        min-width: 350px;
                        display: flex;

                        .p-h-content {
                            display: flex;
                            flex-direction: column;

                            &:nth-child(1) {
                                font-weight: bold;
                                width: 10%;
                                min-width: 100px;
                            }

                            &:nth-child(2) {
                                width: 20%;
                                min-width: 300px;
                            }
                        }

                    }

                    .payslip-header-right {
                        .brand {
                            a {
                                img {
                                    width: 200px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }

            .payslip-content {
                padding: 20px 20px;

                .p-c-date {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 20px;

                    .p-c-header {
                        width: 50%;
                        min-width: 500px;

                        .p-c {
                            display: flex;
                            justify-content: center;

                            span {
                                font-weight: bold;
                            }
                        }
                    }

                    .p-c-body {
                        display: flex;
                        white-space: nowrap;
                        gap: 30px;

                        .p-c {
                            display: flex;

                            span:nth-child(1) {
                                font-weight: bold;
                                width: 30%;
                                min-width: 100px;
                            }

                            span:nth-child(2) {
                                display: flex;
                                justify-content: flex-start;
                            }
                        }
                    }
                }

                .p-c-flex {
                    display: flex;
                    justify-content: center;
                    justify-content: space-between;
                    width: 90%;
                    margin: auto;

                    .payslip-content-left {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 40%;

                        .p-c-income {
                            margin-bottom: 10px;

                            .p-c-header {
                                span {
                                    font-weight: bold;
                                }
                            }

                            .p-c-total {
                                display: flex;

                                .p-c {
                                    display: flex;
                                    flex-direction: column;
                                    border-bottom: 1px solid black;

                                    &:nth-child(1) {
                                        width: 20%;
                                        min-width: 200px;
                                    }

                                    &:nth-child(2) {
                                        align-items: flex-end;
                                        width: 10%;
                                        min-width: 100px;
                                    }
                                }

                            }

                            .p-c-footer {
                                display: flex;

                                span:nth-child(1) {
                                    width: 20%;
                                    min-width: 200px;
                                }

                                span:nth-child(2) {
                                    width: 10%;
                                    min-width: 100px;
                                    display: flex;
                                    justify-content: flex-end;

                                }
                            }

                        }

                        .p-c-deduction {
                            margin-bottom: 10px;

                            .p-c-header {
                                span {
                                    font-weight: bold;
                                }
                            }

                            .p-c-total {
                                display: flex;

                                .p-c {
                                    display: flex;
                                    flex-direction: column;
                                    border-bottom: 1px solid black;

                                    &:nth-child(1) {
                                        width: 20%;
                                        min-width: 200px;
                                    }

                                    &:nth-child(2) {
                                        align-items: flex-end;
                                        width: 10%;
                                        min-width: 100px;
                                    }
                                }

                            }

                            .p-c-footer {
                                display: flex;

                                span:nth-child(1) {
                                    width: 20%;
                                    min-width: 200px;
                                }

                                span:nth-child(2) {
                                    width: 10%;
                                    min-width: 100px;
                                    display: flex;
                                    justify-content: flex-end;

                                }
                            }


                        }
                    }

                    .payslip-content-right {
                        width: 40%;
                        padding-top: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .p-c-gross {
                            margin-bottom: 10px;

                            .p-c-header-gross {
                                span {
                                    font-weight: bold;
                                }
                            }

                            .p-c-total-gross {
                                display: flex;

                                .p-c {
                                    display: flex;
                                    flex-direction: column;
                                    border-bottom: 1px solid black;

                                    &:nth-child(1) {
                                        width: 20%;
                                        min-width: 200px;
                                    }

                                    &:nth-child(2) {
                                        align-items: flex-end;
                                        width: 10%;
                                        min-width: 100px;
                                    }
                                }

                            }

                            .p-c-footer {
                                display: flex;

                                span:nth-child(1) {
                                    width: 20%;
                                    min-width: 200px;
                                }

                                span:nth-child(2) {
                                    width: 10%;
                                    min-width: 100px;
                                    display: flex;
                                    justify-content: flex-end;

                                }
                            }
                        }


                        .p-c-controller {
                            width: 30%;
                            min-width: 300px;

                            .p-c-c-flex {
                                padding: 20px 10px;

                                .p-c {
                                    span:nth-child(1) {
                                        width: 20%;
                                        min-width: 200px;
                                        font-weight: bold;
                                    }

                                    span:nth-child(2) {
                                        width: 10%;
                                        min-width: 100px;

                                    }
                                }
                            }

                        }
                    }
                }
            }
        }

        .btn-to-export {
            display: flex;
            justify-content: flex-end;
            margin-right: 30px;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgb(38, 38, 38);
                color: white;
                width: 100px;
                padding: 5px;
                min-width: fit-content;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    background-color: black;
                }


            }
        }
    }