.content-wrapper {
    height: 100%;
    margin-left: 230px;
    padding: 10px;

    .content-body-wrapper {

        margin: 20px 0;

        .cards-container {

            width: 70%;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;


            .flex-1-container {
                display: flex;
                width: 100%;
                border-radius: 10px;
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
                background-color: white;
                padding: 10px;



                .flex-row-card {

                    height: 100%;
                    display: flex;
                    flex-grow: 1;
                    gap: 10px;
                    padding: 10px 10px 10px 10px;

                    .card-wrapper {

                        width: 50%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        align-items: center;
                        justify-content: center;

                        .number {
                            font-size: 2rem;
                        }

                        .red {
                            color: rgb(255, 0, 0);
                        }

                        .green {
                            color: green;
                        }

                    }

                }

            }


        }

        .body-content {
            margin-top: 20px;
        }

    }

}