<<<<<<< HEAD
<<<<<<< Updated upstream
@media(max-width:736px) {
    .topbar-wrapper {
        margin-left: 0px;
=======
// @media(max-width:736px) {
//     .topbar-wrapper {
//         margin-left: 0px;
>>>>>>> f8d953b718eebdbc2a5157a46dc6cee71ae3420d

//         .profile-wrapper {
//             padding: 10px;

//             .sidebar-toggle {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 margin-right: 10px;
//                 cursor: pointer;

//                 .bi {
//                     font-size: 2rem;
//                     color: white;
//                 }
//             }

<<<<<<< HEAD
            .c-header-flex {
                width: 100%;
                .title {
                    display: flex;
                    align-items: flex-start;
                    width: 100%;
                    border: none;
                    padding: 0 0 0 20px;
                }
                .greetings {
                    display: none;
                }
            }
        }
    }
}
=======
// @media(max-width:736px) {
//     .topbar-wrapper {
//         margin-left: 0px;

//         .profile-wrapper {
//             padding: 10px;

//             .sidebar-toggle {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 margin-right: 10px;
//                 cursor: pointer;

//                 .bi {
//                     font-size: 2rem;
//                     color: white;
//                 }
//             }

=======
>>>>>>> f8d953b718eebdbc2a5157a46dc6cee71ae3420d
//             .c-header-flex {
//                 width: 100%;

//                 .title {
//                     display: flex;
//                     align-items: flex-start;
//                     width: 100%;
//                     border: none;
//                     padding: 0 0 0 20px;
//                 }

//                 .greetings {
//                     display: none;
//                 }
//             }
//         }
//     }
// }
<<<<<<< HEAD
>>>>>>> Stashed changes
=======
>>>>>>> f8d953b718eebdbc2a5157a46dc6cee71ae3420d
