.topbar-wrapper {

    background-color: rgb(20, 20, 20);
    margin-left: 230px;
    height: 100px;
    white-space: nowrap;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;


    .profile-wrapper {
        display: flex;
        text-align: center;
        flex-direction: row;
        height: 100%;
        justify-content: space-between;
        padding: 20px 30px;

<<<<<<< Updated upstream
=======
        .sidebar-toggle {
            display: none;
        }
>>>>>>> Stashed changes

        .c-header-flex {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .title {
                font-size: 2rem;
                font-weight: bold;
                padding-right: 20px;
                color: rgb(203, 200, 200);
                border-right: 3px solid white;
            }

            .greetings {
                font-size: 1.4rem;
                color: grey;
            }
        }


        .profile {
            display: flex;
            align-items: center;
            gap: 20px;

            .name {
                color: rgb(203, 200, 200);
                font-size: 1.4rem;
                text-decoration: none;

                &:hover {
                    color: blue;
                }
            }

            img {
                width: 50px;
                height: auto;
                border-radius: 100%;
                cursor: pointer;

                &:hover {
                    color: blue;
                }

            }

            .bi {
                font-size: 2rem;
                color: rgb(203, 200, 200);

                &:hover {
                    color: blue;
                }
            }

            .out-flex-wrapper {
                .text-logout {
                    color: rgb(203, 200, 200);
                    cursor: pointer;

                    &:hover {
                        color: blue;
                    }
                }

            }


        }

        .profile:hover {
            cursor: default;
        }

        .profile-menu {
            display: flex;
            flex-direction: column;
            font-size: 20px;
            gap: 10px;
            padding: 20px 0 20px 0px;
            font-family: fonts;
            width: 100%;


        }

        a {

            color: rgb(148, 157, 180);
            text-decoration: none;

            i {
                margin-right: 10px;
            }

        }

        a:not(.active):hover {
            color: rgb(18, 0, 157);
        }

        .active {
            color: green;

            &:hover {
                scale: 1.1;
            }

        }
    }

}

@media(max-width:600px) {}

@media(max-width:780px) {
    .topbar-wrapper {
        margin-left: 0px;

        .profile-wrapper {
            padding: 10px;

            .sidebar-toggle {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                cursor: pointer;

                .bi {
                    font-size: 2rem;
                    color: white;
                }
            }

            .c-header-flex {
                width: 100%;

                .title {
                    display: flex;
                    align-items: flex-start;
                    width: 100%;
                    border: none;

                }

                .greetings {
                    display: none;
                }
            }

            .profile {
                display: none;
            }
        }


    }
}
