@media(max-width:736px) {
    .topbar-wrapper {
        margin-left: 0px;

        .profile-wrapper {
            padding: 10px;

            .sidebar-toggle {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                cursor: pointer;

                .bi {
                    font-size: 2rem;
                    color: white;
                }
            }

            .c-header-flex {
                width: 100%;
                .title {
                    display: flex;
                    align-items: flex-start;
                    width: 100%;
                    border: none;
                    padding: 0 0 0 20px;
                }
                .greetings {
                    display: none;
                }
            }
        }
    }
}